* {
    box-sizing: border-box;    
}
.figure {
    background-color: yellow;
    width: 300px;
    height: 50px;
    position: absolute;
    right: -60px;
    top: 60px;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    font-size: 32px;
}
.transparentBox {
    overflow: hidden;
    width: 100%;
    height: 100%; 
    position: relative;
    
}
.blueBox {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    /* position: relative; */
    padding: 23px;
}

.line1 {
    position: absolute;
    background-color: yellow;
    width: 5px;
    height: 100%;
    left: 20px;
    top: 0;

}

.line2 {
    position: absolute;
    background-color: yellow;
    right: 20px;
    width: 5px;
    height: 100%;
    top: 0;
}

.line3 {
    position: absolute;
    background-color: yellow;
    top: 20px;
    width: 100%;
    height: 5px;
    left: 0;
}

.line4 {
    position: absolute;
    background-color: yellow;
    bottom: 20px;
    width: 100%;
    height: 5px;
    left: 0;

}
    