* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
    border: 1px solid rgb(114, 113, 113);
    height: 90vh;
    width: 80vh;
    /* margin: 5px 5px; */
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
    
}

.header {
    height: 10%;
    width: 100%;
    background-color: rgb(146, 199, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    height: 5%;
    width: 100%;
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex: 1;
    gap: 10px;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    overflow: hidden;
}

.article {
    height: 50%;
    width: 100%;
    background-color: rgb(190, 241, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.section {
    height: 50%;
    width: 100%;
    background-color: rgb(180, 141, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.aside {
    height: 100%;
    width: 30%;
    background-color: rgb(249, 237, 144);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}